{% extends "base.html.twig" %}

{% block body %}

<section>

  <h2></h2>

    <div class="col-md-10 offset-md-1 offset-sm-0">

      <div class="error">

        <p>Accés refusé.<br />Vous n'êtes pas autorisé à accéder à cette page</p><br />
        <p>Access denied.<br />You don't have permission to access on this page</p>            

      </div>

    </div>

</section>

{% endblock %}




